*,
*:after,
*:before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
p,
a,
span {
    letter-spacing: 0.5px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #ccc;
    text-align: center;
}

a {
    color: #ccc;
    text-decoration: none;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;

    @media (max-width:576px) {
        margin-top: 10px;
    }
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;

}

/*------Start Head-Section ------*/
.head-section {
    padding: 30px;
    text-align: center;

    @media (max-width: 576px) {
        padding: 0 30px;
    }

    h2 {
        font-size: 40px;
        color: #403f3f;
        font-weight: bold;

        // animation-delay: 0.3s;
        @media (max-width: 576px) {
            font-size: 24px;
        }

        span {
            color: #fe5b0a;
        }
    }

    .txt1 {
        background: #ffbb82;
        padding: 6px 10px;
        width: 43%;
        margin: auto;
        font-size: 22px;
        margin-top: 12px;
        animation-delay: 0.7s;
        border-radius: 4px;

        @media (max-width: 576px) {
            font-size: 16px;
            width: 100%;
            margin-top: 16px;
            animation-delay: 0.7s;
        }
    }

    .txt2 {
        font-size: 20px;
        margin-top: 10px;
        animation-delay: 1.2s;

        @media (max-width: 576px) {
            font-size: 16px;
            animation-delay: 1.2s;
        }
    }

}

/*------Start Head-Section ------*/
/*------ Start Course-Section ------*/
.tab_container {
    width: 100%;
    margin: 20px auto;
    padding-top: 12px;
    position: relative;
    animation-delay: 1.3s;

    @media (max-width: 576px) {
        padding: 0 !important;
    }

    .line {
        width: 100%;
        height: 2px;
        background: #000;
        margin-top: 100px;
    }

    .tab-content {
        .thumbnail-bg {
            background-image: url('../images/course-img2.png');
            background-position: center;
            background-size: cover;
        }

        .disabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.3;
            text-decoration: none;
            pointer-events: none;
        }

        .nav {
            .flt {
                float: right;

                @media (max-width:576px) {
                    margin-top: 3px;
                }
            }

            .flt2 {
                float: right;

                @media (max-width:576px) {
                    margin-top: 10px;
                    float: left;
                    margin-left: 7px;
                }
            }

            li {
                .form-group {

                    // width: 200px;
                    .form-control {
                        option {}
                    }
                }
            }
        }

        .nav-pills>li.active>a,
        .nav-pills>li.active>a:focus,
        .nav-pills>li.active>a:hover {
            color: #fff !important;
            background-image: linear-gradient(45deg, #fe5206, #fc8c21);
            // background-image: linear-gradient(45deg, #0475ff, #219cfc);
            padding: 4px 40px !important;
            font-size: 18px !important;

            @media (max-width:576px) {
                padding: 4px 26px !important;
                font-size: 16px !important;
            }
        }

        .nav>li>a {
            position: relative;
            display: block;
            padding: 10px 15px;
            background-color: #efefef;
            color: #333;
            font-size: 18px;
            padding: 4px 40px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

            @media (max-width:576px) {
                padding: 4px 26px !important;
                font-size: 16px !important;
                margin-top: 5px;
            }
        }

        .ml-10 {
            margin-left: 8px;
        }

        .video-container {
            position: relative;
            margin-top: 40px;
            height: 200px;
            // padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
            position: relative;
            border-radius: 5px;

            .video-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .video-play-button {
                    position: absolute;
                    z-index: 10;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    box-sizing: content-box;
                    display: block;
                    width: 32px;
                    height: 44px;
                    /* background: #fa183d; */
                    border-radius: 50%;
                    padding: 18px 20px 18px 28px;
                }

                .video-play-button:before {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 75px;
                    height: 75px;
                    background: #f47408;
                    border-radius: 50%;
                    animation: pulse-border 1500ms ease-out infinite;
                }

                .video-play-button:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 75px;
                    height: 75px;
                    background: #f47408;
                    border-radius: 50%;
                    transition: all 200ms;
                }

                .video-play-button:hover:after {
                    background-color: darken(#f47408, 10%);
                }

                .video-play-button img {
                    position: relative;
                    z-index: 3;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }

                .video-play-button span {
                    display: block;
                    position: relative;
                    z-index: 3;
                    width: 0;
                    height: 0;
                    border-left: 32px solid #fff;
                    border-top: 22px solid transparent;
                    border-bottom: 22px solid transparent;
                }

                @keyframes pulse-border {
                    0% {
                        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                        opacity: 1;
                    }

                    100% {
                        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                        opacity: 0;
                    }
                }

            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            @media (max-width: 576px) {
                margin-top: 20px;
            }

            .v-icon {
                text-align: center;
                margin-top: 50px;

                .fab {
                    font-size: 60px;
                    color: #fe5b0a;
                }
            }
        }

        .demo {
            width: 95%;
            height: 1200px;
        }

        .course-detail {
            margin-top: 80px;
            text-align: center;

            @media (max-width: 576px) {
                margin-top: 35px;
            }


            h3 {
                color: #565656;

                @media (max-width: 576px) {
                    font-size: 18px;
                }
            }
        }

        %recorded-video {
            @media (max-width: 576px) {
                padding: 20px 0;
            }

            h2 {
                color: #333;
                font-size: 26px;

                @media (max-width: 576px) {
                    font-size: 20px;
                }
            }

            a {
                .rec-video {
                    // padding: 15px;
                    border-radius: 5px;
                    border: 1px solid #5f5b5b33;
                    transition: 0.5s;
                    height: 180px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }

                    &:hover {
                        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
                    }

                    .txt {
                        font-size: 20px;
                        color: #565656;
                        text-align: center;
                        margin-top: 19px;

                        @media (max-width: 576px) {
                            font-size: 17px;
                        }
                    }

                    .num {
                        position: absolute;
                        padding: 3px;
                        width: 28px;
                        height: 28px;
                        border-left: 1px solid rgba(0, 0, 0, 0.2);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 0px;
                        top: 0px;
                        right: 0px;
                    }
                }
            }
        }

        .recorded-video {
            padding: 50px 0 20px;
            @extend %recorded-video;
            %show-hide{
                float: right;
                margin-top: 15px;
                color: rgb(254, 95, 12);
                font-weight: bold;
                font-size: 15px;
            }
            #show-more {
                margin-right: 15px;
                @extend %show-hide;
            }
            #show-less {
                @extend %show-hide;
            }
            .sign{
                font-size: 20px;
            }
        }

        .upcomming-video {
            padding: 30px 0;
            @extend %recorded-video;
            position: relative;

            .view-more1, .view-more2 {
                display: inline-block;
                margin-top: 15px;
                text-transform: uppercase;
                float: right;
                color: #fe5f0c;
                font-weight: bolder;
                font-size: 15px;
                text-decoration: none;
            }

            .upcomming-video-list {
                width: 60%;
                height: 330px;
                position: absolute;
                display: none;
                right: 0px;
                bottom: 30px;
                padding: 15px;
                background-color: #ffffff;
                overflow: auto;
                box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
                border-radius: 5px;

                @media (max-width:576px) {
                    width: 90%;
                }

                ul {
                    li {
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                        margin-top: 5px;
                        background-color: #d66404;
                        border: none;
                        color: #efefef;
                        transition: 0.5s;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .class-btn {
            @media (max-width: 576px) {
                margin-bottom: 20px;
            }

            .ibtn1 {
                text-decoration: none;
                display: inline-block;
                padding: 4px 40px;
                background: #000;
                color: #ffffff;
                border-radius: 5px;
                text-align: center;
                background-image: linear-gradient(45deg, #fe5206, #fc8c21);
                // background-image: linear-gradient(45deg, #158a11, #76a822);
                font-size: 18px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

                @media (max-width: 576px) {
                    width: 60px;
                    padding: 1.5px;
                    font-size: 14px;
                }
            }

            .ibtn2 {
                text-decoration: none;
                display: inline-block;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                padding: 4px 40px;
                background: #000;
                color: #5b5b5d;
                border-radius: 5px;
                text-align: center;
                background: #efefef;
                // font-weight: 600;
                font-size: 18px;
                margin-bottom: 5px;

                @media (max-width: 576px) {
                    width: 60px;
                    padding: 1.5px;
                    font-size: 14px;
                }
            }
        }
    }
}

input,
section {
    clear: both;
    padding-top: 10px;
    display: none;
}

label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 32.8%;
    padding: 15px;
    color: #565656;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #ffffff;
    margin: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative;

    // transition: 0.4s;
    @media (max-width: 576px) {
        width: 31.7%;
    }
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
    padding: 50px 15px;
    background: #fff;
    color: #999;
    // border-bottom: 2px solid #f0f0f0;

    @media (max-width:576px) {
        padding: 20px 15px;
    }
}

.tab_container .tab-content p,
.tab_container .tab-content div,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.5s ease-in-out;
    -moz-animation: fadeInScale 0.5s ease-in-out;
    animation: fadeInScale 0.5s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #0c0600;
    color: #0c0600;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    //     background: #f47408;
    //     color: #ffffff;
    //     transition: 0.6s;


}

.tab_container [id^="tab"]:checked+label .fa {
    color: #0CE;
}

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }

    label .fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    label span {
        font-size: 13px;
    }

    label .fa {
        font-size: 16px;
    }

    .tab_container {
        width: 98%;
    }
}

/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*------ End Course-Section ------*/